
<mat-card class="m-4 text-center">
    <!-- Wanneer er geen afbeelding kan worden gevonden voor een fiets zal een standaard afbeelding weergegeven worden -->
    <img mat-card-image src='/assets/images/{{imageNameForBike}}.jpg'  onerror="this.onerror=false;this.src='/assets/images/NoImage.jpg'">
    <p>{{bike.name}}</p>
    <p>{{bike.bikeBrand}}</p>
    <p>{{bike.bikeType}}</p>
    <p>{{bike.bikeGroupset}}</p>
    <p>{{bike.discBrakes ? 'Discbrakes' : 'Rimbrakes'}}</p>
    <p>${{bike.price}}/day</p>
    <button class="btn btn-primary" (click)="newBikeOrder(bike)">Order</button>
</mat-card>