  <div class="text-center"><mat-card-title>Add a bike</mat-card-title></div>
  <div class="main-div">
  <mat-card-content>
    <form [formGroup]="bikeFormGroup" (ngSubmit)="onSubmit()">
      <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput 
          aria-label="name"
          placeholder="name"
          type="text"
          formControlName="name"
          required
        />
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Brands</mat-label>
        <mat-select 
          placeholder="Brand"
          aria-label="available brands"
          formControlName="bikeBrand"
          required
        >
          <mat-option *ngFor= "let brand of brands" [value]="brand">
            {{brand}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <mat-form-field>
        <mat-label>Types</mat-label>
        <mat-select           
        placeholder="Type"
        aria-label="available types"
        formControlName="type"
        required>
          <mat-option value="Road Bike">Road Bike</mat-option>
          <mat-option value="E-Bike">E-Bike</mat-option>
          <mat-option value="Mountain Bike">Mountain Bike</mat-option>
          <mat-option value="Urban Bike">Urban Bike</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Groupset</mat-label>
        <mat-select           
        placeholder="Groupset"
        aria-label="available groupsets"
        formControlName="groupset"
        required>
          <mat-option value="Shimano">Shimano</mat-option>
          <mat-option value="Sram">Sram</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <label>Discbrakes: </label>
        <mat-radio-group
        placeholder="Discbrakes"
        aria-label="Do you want discbrakes"
        formControlName="discBrakes">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field>
        <input
          matInput
          aria-label="price"
          placeholder="price"
          type="number"
          formControlName="price"
          required
        />
      </mat-form-field>
      <button  mat-raised-button type='submit' [disabled]="!bikeFormGroup.valid">  
        Add bike
      </button>
    </form>
  </mat-card-content>
</div>