<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutGap="0.5%"
  fxLayoutAlign="start"
>

<section>
  <div style="align-items: center;">
    <button mat-flat-button color="filterknop"(click)="applyFilter(0)">All bikes</button>
    <button  mat-flat-button color="filterknop" (click)="applyFilter(1)">Road Bike</button>
    <button  mat-flat-button color="filterknop" (click)="applyFilter(2)">Mountain Bike</button>
    <button  mat-flat-button color="filterknop" (click)="applyFilter(3)">E-Bike</button>
    <button  mat-flat-button color="filterknop" (click)="applyFilter(4)">Urban Bike</button>
  </div> 
</section>


  <div 
    class="bike"
    *ngFor="let bikeData of (bikes$ | async | bikeFilter: bikeType )"
    fxFlex="0 0 calc(25%-0.5%)"
    fxFlex.xs="100%"
  >
    <app-bike [bike]="bikeData"></app-bike>
  </div>
</div>
