<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="erroMessage">
    Make sure that each field is filled in correctly!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="clearErrorM()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div fxLayout="row" fxLayoutAlign="center center " class="login-main">
    <mat-card>
      <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
        <mat-card-header>
          <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <span>
            <mat-form-field class="mr-3">
              <input
                matInput
                placeholder="first name"
                aria-label="first name"
                formControlName="firstname"/>
                <mat-error *ngIf="registerFormGroup.get('firstname').errors && registerFormGroup.get('firstname').touched">{{ getErrorMessage(registerFormGroup.get('firstname').errors) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="mr-3">
                <input
                matInput
                placeholder="last name"
                aria-label="last name"
                formControlName="lastname"/>
                <mat-error *ngIf="registerFormGroup.get('lastname').errors && registerFormGroup.get('lastname').touched">{{ getErrorMessage(registerFormGroup.get('lastname').errors) }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                matInput
                type="email"
                placeholder="email"
                aria-label="email"
                formControlName="email"/>
                <mat-error *ngIf="registerFormGroup.get('email').errors && registerFormGroup.get('email').touched">{{getErrorMessage(registerFormGroup.get('email').errors) }}</mat-error>
            </mat-form-field>
            <span fxLayout="column" formGroupName="passwordGroup">
                <mat-form-field>
                    <input
                    type="password"
                    matInput
                    placeholder="password"
                    aria-label="password"
                    formControlName="password"/>
                    <mat-error *ngIf="registerFormGroup.get('passwordGroup').get('password').errors && registerFormGroup.get('passwordGroup').get('password').touched">
                        {{ getErrorMessage(registerFormGroup.get('passwordGroup').get('password').errors) }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input
                    type="password"
                    matInput
                    placeholder="confirm password"
                    aria-label="confirm password"
                    formControlName="confirmPassword"/>
                    <mat-error *ngIf="registerFormGroup.get('passwordGroup').get('confirmPassword').errors && registerFormGroup.get('passwordGroup').get('confirmPassword').touched">
                        {{ getErrorMessage(registerFormGroup.get('passwordGroup').get('confirmPassword').errors) }}
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="registerFormGroup.get('passwordGroup').errors && registerFormGroup.get('passwordGroup').get('confirmPassword').touched && registerFormGroup.get('passwordGroup').get('password').touched">
                    {{getErrorMessage(registerFormGroup.get('passwordGroup').errors)}}
                </mat-error>
            </span>
            <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
                <a [routerLink]="['/login']">login</a>
                <button mat-raised-button type="submit" color="primary" data-cy="register-button">Register</button>
            </mat-card-actions>
        </span>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
  