<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="succesMessage">
  {{succesMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="setMessage()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="main-div">
  <mat-card-content>
    <form [formGroup]="orderFormGroup">
        <mat-form-field style="margin-right: 2rem;">
          <mat-label>Start date</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="startDate" [min]= "minDate">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
          <mat-error *ngIf="orderFormGroup.get('startDate').errors && orderFormGroup.get('startDate').touched">{{ getErrorMessage(orderFormGroup.get('startDate').errors) }}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>End date</mat-label>
          <input matInput [matDatepicker]="dp2" formControlName="endDate" [min]= 'this.orderFormGroup.get("startDate").value'>
          <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
          <mat-datepicker #dp2></mat-datepicker>
          <mat-error *ngIf="orderFormGroup.get('endDate').errors && orderFormGroup.get('endDate').touched">{{ getErrorMessage(orderFormGroup.get('endDate').errors) }}</mat-error>
        </mat-form-field>
        <button class="btn btn-primary" style="margin-left: 2rem;" type='button' [disabled]="!orderFormGroup.valid" (click)= "onSubmit()">Place Order</button>
    </form>
  </mat-card-content>
</div>
